name: Repository Check

on:
  push:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Repository is valid
      run: echo "IndustrialCore repository OK"