name: Build MRLONE Mod

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release

    - name: Upload DLL
      uses: actions/upload-artifact@v3
      with:
        name: MRLONE_IndustrialCore
        path: bin/Release/net6.0/